    #content{
      overflow: hidden;
      margin: auto; 
      width: 100%;
      box-sizing: border-box;
    }
    

    #number_container {
      overflow: hidden;
      width: auto;
      text-align: center;

    }

    ul{
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;
      text-align: -webkit-match-parent; 
    }

    ul li strong {
      display: inline-block;
      padding: 5px 5px 3px 5px;
      min-width: 35px;
      margin: 5px;
      min-height: 35px;
      line-height: 37px;
      color: #333;
      text-decoration: none;
      text-align: center;
      background-color: #eee;
      border: #fff solid 1px;
    }
    ul.info-bar li span.info-value {
      display: block;
      background: #fff;
      text-align: center;
      font-size: 18px;
      color: #f97404;
      direction: ltr;
      padding: 2px 0;
      background: #eaeaea;
      font-family: byekan;
    }
    ul.info-bar li span.info-change {
      display: block;
      font: 13px/1.3 byekan,tahoma;
      background: #ddd;
      -webkit-border-radius: 0 0 3px 3px;
      border-radius: 0 0 3px 3px;
      padding: 4px 2px 2px;
      overflow: hidden;
      white-space: nowrap;
      color: #555!important;
    }